    <div id="content">
      <div class="container fill">
        <div class="row">
          <div class="container">
            <ul class="nav nav-pills nav-stacked col-md-2">
              <li class="active"><a href="#tab_a" data-toggle="pill"><span class=""></span>Vision & Mission</a></li>
              <li><a href="#tab_b" data-toggle="pill"><span class=""></span>The School Crest</a></li>
              <li><a href="#tab_c" data-toggle="pill"><span class=""></span>School Prayer</a></li>
              <li><a href="#tab_d" data-toggle="pill"><span class="">Headmasters</a></li>
            </ul>
            <div class="tab-content col-md-10">
              <div class="tab-pane active" id="tab_a">
              <div class="row">
                <div class="col-md-8" id="leftside">
                <img class="img-rounded" src="images/c.jpg" style="width:100%; height: 200px;" alt="Los Angeles">
                </div>
                <div class="col-md-8" id="leftside">
                <h3>Vision</h3>
                
                <p> The Vision of our School is to Promote overall development of students, irrespective of socio-economic conditions,
                  empowering them to face the challenges of the future through dedicated staff that radiate God's Love.</p>
                <h3>Mission</h3>
                <p>Our Mission is to educate students in a spiritualistic, scientific and psychological atmosphere so that they
                  become enlightened individuals. We provide individual attention in Co-curricular and Extra-curricular activities
                  and take care of character building through dedicated and devoted staff.</p>
                </div>
              </div>    
              </div>
              <div class="tab-pane" id="tab_b">
                <h4>The School Crest</h4>
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-rounded" src="images/logo.jpg" alt="Los Angeles">
                  </div>
                  <div class="col-md-4">
                    <p>
                     The School Crest consists of lamp, scallop, shells and a sunflower.
                    </p>  
                    <p> The shells are Wesleyan symbols introduced by Rev. T.R.Foulger and Rev. Basil Clutter Buck in the crest of Meston institution along with the lamp. 
                     </p>
                    <p>The lamp indicates the capability of spreading light and the shells represent fellowship in seeking knowledge .
                     </p>
                     <p> The sunflower signifies the sensitivity to the direction of sunlight.
                     </p>
                     <p>The school imbibes the heritage of Wesleyan efforts in fostering fellowship and extending knowledge and strive for educational brilliance.
                     </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_c">
                <h4>School Prayer</h4>
                <div class="row">
                <div class="col-md-5">
                <img class="img-rounded" src="images/prayer2.jpg" alt="Los Angeles">
                </div>
                <div class="col-md-4">
                <p>
                  May the strength of God Pilot us. May the power of God preserve us. May the wisdom of God instruct us.
                <p>  
                  May the hand of God
                  protect us.
                </p>
                <p>   
                  May the way of God direct us.
                </p>
                <p>  
                  May the shield of God defend us. 
                </p>
                <p> 
                  May the host of God guard us
                  against the snares of evil and the temptations of the world. 
                 </p> 
                </p>  
                  May Christ be with us, Christ before us, Christ
                  in us, Christ over us. May the salvation, O Lord, be always ours this day and for evermore.
                </p>
                </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_d">
                <h4>Headmasters</h4>
              </div>
            </div>
            <!-- tab content -->
          </div>
          <!-- end of container -->
        </div>
      </div>
    </div>