<div id="content">
  <div class="container fill">
    <div class="row">
      <div class="container">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li class="active"><a href="#tab_a" data-toggle="pill">Courses</a></li>
          <li><a href="#tab_b" data-toggle="pill">Rules & Regulations</a></li>
          <li><a href="#tab_c" data-toggle="pill">Co-operations of Parents</a></li>
          <li><a href="#tab_d" data-toggle="pill">Teaching Methods</a></li>


        </ul>
        <div class="tab-content col-md-10">
          <div class="tab-pane active" id="tab_a">

            <h4>The following Groups are offered in Higher Secondary :</h4>

            <p>a)Maths,Physics,Chemistry and Computer Science.</p>
            <p>b)Commerce,Accountancy,Economics,Computer Science.</p>
            <p>c)Commerce,Accountancy,Economics,Business Maths.</p>

          </div>
          <div class="tab-pane" id="tab_b">
            <h4>Rules and Regulations</h4>
            <p>1.Pupil must be present at the school premises latest  by 8:10 a.m. and not earlier than 7:45 a.m.
             in the morning.Late comers must meet the &nbsp;&nbsp; games teacher before entering the school and also produce the letter from parents giving reason for their coming late.</p>
            <p>2.It is strictly compulsory for every child to come to the school in neat full school uniform including footwear on all working days.</p>
            <p>3.Pupils must speak in English all the time and they should polietly to teacher,visitors and other members of the staff and must always respect their teachers.</p>
            <p>4.All the students must bring their HandBook to school everyday.</p>
            <p>5.During recess and lunch pupils should not remain in the classrooms and they should not leave the school premises.</p>
            <p>6.Pupils should not throw paper or the rubbish anywhere in the classrooms and school except in dustbins provided for the purpose.</p>
            <p>7.Pupils are resposible for their ownbooks fountain pens,cycles,lunch boxes etc.</p>
            <p>8.Pupils are prohibited from wearing any ornament and jewellery in the school.</p>
            <p>9.No books,newspaper or periodicals other than prescribed by the schools should not be brought to the school.</p>
            <p>10.No pupil will be exempted from physical training or organised games without a medical certificate.</p>
            <p>11.Irregular attendance is subordination to teachers and any kind of misconduct or wilfully mischevious or guilt of malpractices or has committed an act of serious indiscipline may be expelled permanently or removed from the school.</p>   
            <p>12.ANy damage to the school building or property or laboratory equipments etc. will be made good by the individuals and the classes concerned and the decision of the management is final.</p>
            <p>13.Any communication requests or complaints should be addressed to the principal only.</p>
            <p>14.Parents are requested to attend all the scheduled parent teacher meeting on the openday.</p>
            <p>15.Pupils are not allowed to leave the school premises during working hours unless they are granted permissions by the principal.</p>
            <p>16.Students should not bring mobile phones to school.</p>          

          </div>
          <div class="tab-pane" id="tab_c">
            <h4>Co-operations of Parents</h4>
            <p> Parents are requested to see that their children are neately dressed and they attend school regularly
            and they attend school regularly and functionally.Parents should see that their children study their lessons regularly and do their homework properly.</p>
            <p>Change of address of the and Phone number if any should be intimated to school office immediately.</p>

          </div>
          <div class="tab-pane" id="tab_d">
            <h4>Teaching Methods</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </div>
          <div class="tab-pane" id="tab_e">
            <h4>HISTORY</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </div>
        </div>
        <!-- tab content -->
      </div>
      <!-- end of container -->
    </div>
  </div>
</div>