<div id="footer">
    <p><a href="about">About</a> | <a href="academic">Academic</a> | 
       <a href="gallery">Gallery</a> | <a href="infrastructure">Infrastructure</a>        | 
       <a href="contact">Contact Us</a> | <a href="login">manage</a> 
    </p>
    <p>Copyright © 2017 Emma Foulger Matriculation Hr. Sec. School. All rights reserved. Powered by 
        <a href="http://www.appxel.com" >Appxel Infotech.  </a>
    </p>
</div>

