<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">  
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300px;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="c1">
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel-group">
                    <div class="panel panel-primary" style="height:300px;">
                        <div class="panel-heading">News & Events</div>
                        <div class="panel-body">
                            <marquee direction="up" loop="infinite" behavior="scroll" scrollamount="4" direction="up" onmouseover="this.stop();" onmouseout="this.start();"
                                vspace="0%" id="m1" height="235px">
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p id="p1">
            In the development process of the Meston Education and Development Association a new type of School which could experiment
            with innovative methodology of learning was though essential to add to the benefits of pupils. With the encouragement
            of Barrister E.D. Devadasan (President) the new school made a beginning in 1984 in the primary section building
            of Wesley School afer the name of Mrs. Emma Foulger. The School had the privilege of having Sr. Joseph (Retired
            Principal of Church Park Convent) as patron.
        </p>
        <p id="p1">
            Historically, the school building was famous in the past as Synod Hall of Wesleyan Methodist Missionary Society. Many meeting
            of the Wesleyan Methodist Mission were held in the building in 1880's and 1930's where Mrs. Emma Foulger entertained
            Missionary guests and Christian leaders. To begin with, the Methodist Missionaries established a small school
            and a chapel in Royapettah in 1818 under the leadership of Rev. James Lynch, the founder of Wesleyan Methodist
            Mission in India. Gradually a high school rose up in 1851 and an arts college in 1854. When the arts college
            ceased to function, a new college od education in honour of Rev. Dr. William Meston (Scottish educationist) appeared
            in 1937 due to the great efforts of the Rev. TR. Foulger who was then the Headmaster of Wesley School since 1923.
            From that year onwards the Meston Association became an association of various Churches and Church Bodies with
            an Ecumenical commitment.
        </p>
        <p id="p1">
            With the establishment of Emma Foulger Matriculation School, the contribution to education has become manifold. It is co-existing
            with Wesley School doing complementary educational services. Besides, it is also helping the Meston Educational
            Rehabilitation and Research Centre in integrating educational schemes.
        </p>
    </div>
</div>